<%- include('layouts/header') -%>

<div class="container-fluid">
    <div class="row full-height">
        <div class="col-12 ps-md-5">
            <table class="table table-borderless" style="margin: 10% 15% 0 15%; width: 70%;">
                <tbody>
                    <tr>
                        <td style="font-size: 2.75rem">
                            Cuộc gọi video chất lượng. Giờ đây miễn phí cho tất cả mọi người.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row mt-4 mb-2">
                                <div class="col-xl-3 mb-2 mb-xl-0">
                                    <div class="dropdown">
                                        <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                            Tạo cuộc gọi
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item" href="/call">Tạo cuộc gọi ngay</a></li>
                                            <li><a class="dropdown-item" href="/account-detail">Gọi cho bạn bè</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-6 mb-2 mb-xl-0">
                                    <input id="remote-id" type="text" class="form-control" placeholder="Nhập mã cuộc gọi">
                                </div>
                                <div class="col-xl-3 mb-2 mb-xl-0">
                                    <button id="call" type="button" class="btn btn-light">Tham gia</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr>
                            Web Video Call
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('layouts/footer') -%>