/*==================== 
    Login - Register
====================== */

#login-body {
    background: url(../img/bg-login.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-heading-section {
    font-size: 28px;
    color: #fff; 
}

.login-wrap {
    position: relative;
    color: rgba(255, 255, 255, 0.9); 
}

.login-wrap h3 {
    font-weight: 300;
    color: #fff; 
}

.login-wrap .social {
    width: 100%;
}

.login-wrap .social a {
    width: 100%;
    display: block;
}

.w-50 {
    width: 50% !important; 
}

.text-md-right {
    text-align: right !important; 
}

#forgot-password {
    color: #fff;
}

#forgot-password:hover {
    color: rgb(30, 30, 133)
}

.register-form-select {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid transparent;
    color: white !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-transform: capitalize;
}

.register-form-select:hover, .register-form-select:focus {
    background-color: rgba(255, 255, 255, 0.0001);
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.4);
    text-transform: capitalize;
}

.register-option-select {
    background-color: #252525;
    text-transform: capitalize;
}

.login-form-control {
    background: transparent;
    color: white !important;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.15);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.login-form-control:hover, .login-form-control:focus {
    background: transparent;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.4); 
}

.btn-facebook {
    background-color: #4267B2;
    color: #fff;
}

.btn-facebook:hover {
    background-color: #131679;
    color: #fff;
}

.btn-google {
    background-color: #DB4437;
    color: #fff;
}

.btn-google:hover {
    background-color: #c20000;
    color: #fff;
}

/*==================== 
    Custom CSS 
====================== */

.avatar-circle {
    width: 40px;
    height: 40px;
    background-color: #4b92dc;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.avatar-initials {
    position: relative;
    top: 8px; /* 25% of parent */
    font-size: 20px; /* 50% of parent */
    line-height: 20px; /* 50% of parent */
    color: #fff;
}

.float-left {
    float: left;
}

.h-40 {
    height: 40px;
}

.btn-user-setting {
    border: 0px; 
    background: transparent;
}

.btn-user-setting:hover {
    border: 0px; 
    background: transparent;
    box-shadow: none;
}

.btn-user-setting:focus {
    border: 0px; 
    background: transparent;
    box-shadow: none;
}

html, body {
    height: 100%;
    margin: 0;
  }
  
.full-height {
    height: 100%;
}

.middle {
    display: flex;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.element-middle {
    margin: auto;
}

.btn-call {
    width: 56px; 
    height: 56px;
    border-radius: 30px;
}

.btn-call:hover {
    width: 56px; 
    height: 56px;
    border-radius: 30px;
    background-color: rgba(255, 94, 94, 0.466);
    -webkit-box-shadow: 0px 0px 6px 2px #FF9794; 
    box-shadow: 0px 0px 6px 2px #FF9794;
}

.h-90percent {
    height: 90%;
}

.h-10percent {
    height: 10%;
}
  
@media only screen and (max-width: 992px) { 
    #local-stream {
        width: 40%;
        height: 30%;
        position: absolute;
        border: 3px solid slateblue;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }
    #remote-stream {
        width: 100%;
        height: 100%;
    }
}

/* #my-peer-id {
    margin-left: 25px;
} */



