/*==================== 
    Login - Register
====================== */

#login-body {
    background: url(../img/bg-login.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-heading-section {
    font-size: 28px;
    color: #fff;
}

.login-wrap {
    position: relative;
    color: rgba(255, 255, 255, 0.9);
}

.login-wrap h3 {
    font-weight: 300;
    color: #fff;
}

.login-wrap .social {
    width: 100%;
}

.login-wrap .social a {
    width: 100%;
    display: block;
}

.w-48 {
    width: 48% !important;
}

.w-50 {
    width: 50% !important;
}

.text-md-right {
    text-align: right !important;
}

#forgot-password {
    color: #fff;
}

#forgot-password:hover {
    color: rgb(30, 30, 133)
}

.register-form-select {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid transparent;
    color: white !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-transform: capitalize;
}

.register-form-select:hover,
.register-form-select:focus {
    background-color: rgba(255, 255, 255, 0.0001);
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.4);
    text-transform: capitalize;
}

.register-option-select {
    background-color: #252525;
    text-transform: capitalize;
}

.login-form-control {
    background: transparent;
    color: white !important;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.15);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.login-form-control:hover,
.login-form-control:focus {
    background: transparent;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.4);
}

.btn-facebook {
    background-color: #4267B2;
    color: #fff;
}

.btn-facebook:hover {
    background-color: #131679;
    color: #fff;
}

.btn-google {
    background-color: #DB4437;
    color: #fff;
}

.btn-google:hover {
    background-color: #c20000;
    color: #fff;
}

/*==================== 
    Custom CSS 
====================== */

.avatar-circle {
    width: 40px;
    height: 40px;
    background-color: #4b92dc;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.avatar-initials {
    position: relative;
    top: 8px;
    /* 25% of parent */
    font-size: 20px;
    /* 50% of parent */
    line-height: 20px;
    /* 50% of parent */
    color: #fff;
}

.float-left {
    float: left;
}

.h-40 {
    height: 40px;
}

.w-170 {
    width: 170px;
}

.btn-user-setting {
    border: 0px;
    background: transparent;
}

.btn-user-setting:hover {
    border: 0px;
    background: transparent;
    box-shadow: none;
}

.btn-user-setting:focus {
    border: 0px;
    background: transparent;
    box-shadow: none;
}

html,
body {
    height: 100%;
    margin: 0;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.middle {
    display: flex;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.element-middle {
    margin: auto;
}

.btn-call {
    width: 56px;
    height: 56px;
    border-radius: 30px;
}

.btn-call:hover {
    width: 56px;
    height: 56px;
    border-radius: 30px;
    background-color: rgba(255, 94, 94, 0.466);
    -webkit-box-shadow: 0px 0px 6px 2px #FF9794;
    box-shadow: 0px 0px 6px 2px #FF9794;
}

.h-90percent {
    height: 90%;
}

.h-10percent {
    height: 10%;
}

@media only screen and (max-width: 992px) {
    #local-stream {
        width: 40%;
        height: 30%;
        position: absolute;
        border: 3px solid slateblue;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }

    #remote-stream {
        width: 100%;
        height: 100%;
    }
}

.new-notification {
    font-size: 11px;
    font-weight: 300;
}

.line-notification {
    overflow: hidden;
    text-overflow: ellipsis;
}


.btn-detail-call {
    margin-left: 20px;
}

/* #my-peer-id {
    margin-left: 25px;
} */

.c-avatar {
    position:relative;
    display:inline-block;
}

.c-avatar__image {
    width:40px;
    height:40px;
    object-fit:cover;
    border-radius:100%;
 }

 .c-avatar__status {
    width: 15px;
    height: 15px;
    background:#99CC00;
    border:2px solid white;
    position:absolute;
    bottom:-8%;
    right:-8%;
    border-radius:100%;
}

/* Loading ajax */
#loading {
    background-color: white;
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    z-index: 1000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    text-align: center;
}

#loading img {
    margin: auto;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    position: absolute;
    z-index: 999999;
}

/* Chat box  */

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

.chatbox-holder {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    height: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #999999;
    word-wrap: break-word;
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

.chatbox {
    width: 400px;
    height: 400px;
    margin: 0 20px 0 0;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    display: flex;
    flex-flow: column;
    border-radius: 10px 10px 0 0;
    background: white;
    bottom: 0;
    transition: .1s ease-out;
}

.chatbox-top {
    position: relative;
    display: flex;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
    background: rgba(0, 0, 0, .05);
}

.chatbox-icons {
    padding: 0 10px 0 0;
    display: flex;
    position: relative;
}

.chatbox-icons .fa {
    background: rgba(220, 0, 0, .6);
    padding: 3px 5px;
    margin: 0 0 0 3px;
    color: white;
    border-radius: 0 5px 0 5px;
    transition: 0.3s;
}

.chatbox-icons .fa:hover {
    border-radius: 5px 0 5px 0;
    background: rgba(220, 0, 0, 1);
}

.chatbox-icons a, .chatbox-icons a:link, .chatbox-icons a:visited {
    color: white;
}

.chat-partner-name, .chat-group-name {
    flex: 1;
    padding: 0 0 0 15px;
    font-size: 15px;
    font-weight: bold;
    color: #30649c;
    text-shadow: 1px 1px 0 white;
    transition: .1s ease-out;
}

.status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #cacaca;
    margin: 0 3px 0 0;
}

.online {
    background: #b7fb00;
}

.away {
    background: #ffae00;
}

.donot-disturb {
    background: #ff4343;
}

.chatbox-avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    background: white;
    padding: 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    position: absolute;
    transition: .1s ease-out;
    bottom: 0;
    left: 6px;
}

.chatbox-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.chat-messages {
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    flex: 1;
}

.message-box-holder {
    width: 100%;
    margin: 0 0 15px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.message-sender {
    font-size: 12px;
    margin: 0 0 15px;
    color: #30649c;
    align-self: flex-start;
}

.message-sender a, .message-sender a:link, .message-sender a:visited, .chat-partner-name a, .chat-partner-name a:link, .chat-partner-name a:visited {
    color: #30649c;
    text-decoration: none;
}

.message-box {
    padding: 6px 10px;
    border-radius: 6px 0 6px 0;
    position: relative;
    background: rgba(100, 170, 0, .1);
    border: 2px solid rgba(100, 170, 0, .1);
    color: #6c6c6c;
    font-size: 12px;
}

.message-box:after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid rgba(100, 170, 0, .2);
    border-right: none;
    bottom: -22px;
    right: 10px;
}

.message-partner {
    background: rgba(0, 114, 135, .1);
    border: 2px solid rgba(0, 114, 135, .1);
    align-self: flex-start;
}

.message-partner:after {
    right: auto;
    bottom: auto;
    top: -22px;
    left: 9px;
    border: 10px solid transparent;
    border-bottom: 10px solid rgba(0, 114, 135, .2);
    border-left: none;
}

.chat-input-holder {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.chat-input {
    resize: none;
    padding: 5px 10px;
    height: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #999999;
    flex: 1;
    border: none;
    background: rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.chat-input:focus, .message-send:focus {
    outline: none;
}

.message-send::-moz-focus-inner {
	border:0;
	padding:0;
}

.message-send {
    -webkit-appearance: none;
    background: #9cc900;
    background: -moz-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -webkit-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -o-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -ms-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: linear-gradient(180deg, #00d8ff, #00b5d6);
    color: white;
    font-size: 12px;
    padding: 0 15px;
    border: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.attachment-panel {
    padding: 3px 10px;
    text-align: right;
}

.attachment-panel a, .attachment-panel a:link, .attachment-panel a:visited {
    margin: 0 0 0 7px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.chatbox-min {
    margin-bottom: -362px;
    /*   height: 46px; */
}

.chatbox-min .chatbox-avatar {
    width: 40px;
    height: 40px;
}

.chatbox-min .chat-partner-name, .chatbox-min .chat-group-name {
    padding: 0 0 0 15px;
}

.settings-popup {
    background: white;
    border-radius: 20px/10px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
    font-size: 13px;
    opacity: 0;
    padding: 10px 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: 33px;
    transition: .15s;
    transform: scale(1, 0);
    transform-origin: 50% 0;
    width: 120px;
    z-index: 2;
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 2px solid rgba(0, 0, 0, .3);
}

.settings-popup:after, .settings-popup:before {
    border: 7px solid transparent;
	border-bottom: 7px solid white;
	border-top: none;	
	content: "";
	position: absolute;
	left: 45px;
	top: -10px;
    border-top: 3px solid rgba(0, 0, 0, .2);
}

.settings-popup:before {
    border-bottom: 7px solid rgba(0, 0, 0, .25);
    top: -11px;
}

.settings-popup:after {
    border-top-color: transparent;
}

#chkSettings {
	display: none;
}

#chkSettings:checked + .settings-popup {
	opacity: 1;
	transform: scale(1, 1);
}

.settings-popup ul li a, .settings-popup ul li a:link, .settings-popup ul li a:visited {
    color: #999;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.settings-popup ul li a:hover {
    background: rgba(0, 0, 0, .05);
}
